.nav {
  text-align: right;
  text-transform: capitalize;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.nav li:last-child {
  margin-right: 0;
}

.primaryNav {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.a {
  text-decoration: none;
  color: #fff;
}

.a:hover {
  color: #648880;
}
