.lead_bg {
  background: #cbe2c1;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

.lead {
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

.lead h1 {
  font-weight: 300;
  margin-top: 0;
}
